@model HMS.Areas.Dashboard.ViewModels.AccomodationPackagesListingModel

@if (Model != null && Model.AccomodationPackages != null && Model.AccomodationPackages.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">NoOfRoom</th>
                <th scope="col">FeePerNight</th>
                <th scope="col">Accomodation Types</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var accomodationPackage in Model.AccomodationPackages)
            {
                <tr>
                    <td>
                        @accomodationPackage.Name
                    </td>
                    <td>
                        @accomodationPackage.Description
                    </td>
                    <td>
                        <button data-href="@Url.Action("Action", "AccommodationPackages", new { ID = accomodationPackage.ID })" type="button" class="data-btn btn btn-primary" data-toggle="modal" data-target="#actionModal"><i class="fas fa-pen mr-1"></i>Edit</button>
                        <button data-href="@Url.Action("Delete", "AccommodationPackages", new { ID = accomodationPackage.ID })" type="button" class="data-btn btn btn-danger" data-toggle="modal" data-target="#actionModal"><i class="fas fa-trash-alt mr-1"></i>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        Sorry! No record exits.
    </div>
}